@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/main-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", sans-serif;
  user-select: none;
  overflow: hidden;
}

@keyframes glowing {
  0%,
  100% {
    text-shadow: 0 0 10px #fff;
  }
  50% {
    text-shadow: 0 0 20px #fff;
  }
}

.image-styling {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image 0.5s;
}
